{% extends "base.html" %}
{% load crispy_forms_tags %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% block content %}
<div class='col-md-8 mx-auto'>
{% if  team_signs != object.members.all.count %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class='border-bottom mb-4'>Final Pitch for {{ object.challenge }}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
            </small>
        </div>
    </div>
{% else %}
<h2> All of your team members have agreed to a final pitch. You can't update it now!</h2>
{% endif %}
</div>
{% endblock content %}